<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="description" content="DIY可视化提供技术支持" />
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>

<body>

  <div class="buttonlists">
    <div class="upbutton">
        <button class="btn">
            <img src="../assets/down-circle.png">
        </button>
    </div>
    <div class="upbutton">
        <button class="btn">
            <img src="../assets/down-circle.png">
        </button>
    </div>
    <div class="heartbutton">
        <button class="btn">
            <img src="../assets/heart.png">
        </button>
    </div>
    <div class="starbutton">
        <button class="btn">
            <img src="../assets/star.png">
        </button>
    </div>
    <div class="reviewbutton">
        <button class="btn">
            <img src="../assets/review.png">
        </button>
    </div>

</div>


  <style>
    .buttonlists{
        background-color: grey;
        width: 30px;
    }

    .upbutton,.upbutton,.heartbutton,.starbutton,.reviewbutton{
      
      width: 30px;
      height: 30px;
      background-color: skyblue;
      margin-top: 9px;
    }
  </style>
</body>
</html>
